# Dépendances
/vendor/
/node_modules/

# Fichiers d'environnement
.env
.env.local

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Fichiers temporaires PHP
*.swp
*.swo
